<footer class="p-8 bg-slate-700">
    <div class="flex flex-col items-center">
        <!-- other content or services list -->
        <div class="flex md:w-full flex-col md:flex-row flex-wrap max-w-4xl justify-between">
            <div class="">
                <!-- heading -->
                <div class="heading font-bold text-3xl my-6"><i class="fa-solid fa-eye"></i> EYE Project</div>
                <!-- list of items -->
                <div class="px-4">
                    <ul class="flex flex-col gap-1 list-none">
                        <li class="">Securing you from Cyber Threats</li>
                        <li class="text-5xl my-1">
                            <a href="https://www.linkedin.com/in/mr-ankit-jangid/" aria-label="follow us on linkedin" rel="noopener noreferrer" class="" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/mr_ankit_jangid_?igsh=MXY4czc1YjJ2MGZ1" aria-label="follow us on instagram" rel="noopener noreferrer" class="" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                            <a href="https://x.com/mr_ankit_jangid?t=WWmMsWfPw12XZ1caLe3pHA&s=09" aria-label="follow us on twitter" rel="noopener noreferrer" class="" target="_blank"><i class="fa-brands fa-square-x-twitter"></i> </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="">
                <!-- heading -->
                <div class="heading font-bold text-xl my-6">Our Services</div>
                <!-- list of items -->
                <div class="px-4">
                    <ul class="flex flex-col gap-1 list-['>']">
                        <li class=""><a href="/contact/1" class="">Corporate Training</a></li>
                        <li class=""><a href="/contact/2" class="">Commercial One Time Services</a></li>
                        <li class=""><a href="/contact/3" class="">Commercial Long Term Support</a></li>
                        <li class=""><a href="/contact/4" class="">Paid Security Training</a></li>
                        <li class=""><a href="/contact/5" class="">Cyber Hygiene Session</a></li>
                        <li class=""><a href="/contact/6" class="">Got Hacked!!! (Get response asap)</a></li>
                    </ul>
                </div>
            </div>
            <div class="">
                <!-- heading -->
                <div class="heading font-bold text-xl my-6">Useful Links</div>
                <!-- list of items -->
                <div class="px-4">
                    <ul class="flex flex-col gap-1 list-['>']">
                        <li class=""><a href="/" class="">Home</a></li>
                        <li class=""><a href="/blogs" class="">Blog</a></li>
                        <li class=""><a href="/contact" class="">Contact Us</a></li>
                        <li class=""><a href="/services" class="">FAQ</a></li>
                        <li class=""><a href="/services" class="">Services</a></li>
                        <li class=""><a href="/about" class="">About Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- contact details -->
        <div class="w-full bg-black flex flex-col justify-around max-w-6xl flex-grow md:flex-row md:items-center my-8 rounded-3xl">
            <div class="p-6">
                <i class="fa-solid fa-envelope"></i>
                <a target="_blank" href="mailto:ankit123jangid345@gmail.com" class=""><span class=""> ankit123jangid345@gmail.com</span></a>
            </div>
            <div class="p-6">
                <i class="fa-solid fa-phone"></i>
                <a target="_blank" href="tel:+91 8003928557" class=""><span> +91 8003928557</span></a>
            </div>
            <div class="p-6">
                <i class="fa-solid fa-location-dot"></i>
                <a target="_blank" href="https://maps.app.goo.gl/rJu7B5ZPKDos8uFBA" class=""><span class=""> IIIT Kota, Rajasthan</span></a>
            </div>
        </div>
        <!-- copyright details -->
        <div class=""><span>Copyright &copy; <%= new Date().getFullYear() %>, EYE project | All rights reserved.</span></div>
    </div>
</footer>