<header>
    <nav class="w-full box-border flex justify-center">
        <div class="flex w-full justify-between lg:justify-around items-center border-b-blue-200 border-b-2 p-6">
            <!-- logo -->
            <div id="logo" class="text-4xl font-bold">
                <a href="/">EYE Project</a>
            </div>
            <!-- navigation bar for mobile screen -->
            <div class="text-3xl block lg:hidden">
                <a href=""><i class="fa-solid fa-bars"></i></a>
            </div>
            <!-- navigation menu -->
            <div class="hidden lg:block">
                <ul class="flex gap-8 list-none">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/workshop">Workshop</a></li>
                    <li><a href="/contact">Contact us</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>