<% include('./partials/header') %>

<section class="">
    <div class="flex justify-center text-5xl font-bold p-10">About Us</div>
    <div class="lg:grid lg:grid-cols-2 m-8 mt-0">
        <div class="flex justify-center items-center min-h-40 object-contain overflow-hidden my-4 lg:my-0"><img class="w-full object-contain" src="/images/who-we-are.avif" alt="who we are" width="100%" height="100%"></div>
        <div class="flex justify-center items-center min-h-40 text-2xl md:p-8 lg:text-3xl lg:p-16">We believe cybersecurity shouldn't be a chore. We're a passionate team of security experts on a mission to make powerful protection accessible and easy to use.</div>
        <div class="flex justify-center items-center min-h-40 text-2xl md:p-8 lg:text-3xl lg:p-16">We envision a world where everyone, from individuals to large enterprises, can operate with confidence in the digital space. We strive to create a future where cybersecurity is seamless, user-friendly, and a true enabler of progress.</div>
        <div class="justify-center items-center min-h-40 object-contain overflow-hidden hidden lg:block my-4 lg:my-0"><img class="w-full object-contain" src="/images/vision-image.avif" alt="vision image" width="100%" height="100%"></div>
        <div class="flex justify-center items-center min-h-40 object-contain overflow-hidden my-4 lg:my-0"><img class="w-full object-contain" src="/images/cybersecurity-team.avif" alt="our team" width="100%" height="100%"></div>
        <div class="flex justify-center items-center min-h-40 text-2xl md:p-8 lg:text-3xl lg:p-16">Our team consists of seasoned security professionals with a proven track record of success. We bring together diverse expertise in areas like intrusion detection, threat analysis, and security architecture. We're driven by a shared passion for protecting our clients in this ever-evolving threat landscape.</div>
    </div>
</section>

<% include('./partials/footer') %>