<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="https://newseu.cgtn.com/news/2022-07-13/-NASA-releases-spectacular-new-images-from-James-Webb-Space-Telescope-1bClnBF50xW/img/e7a7fe4592db48ef9efb3aa76ee17cc2/e7a7fe4592db48ef9efb3aa76ee17cc2.jpeg" alt="Sunset in the mountains">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
          <p class="text-gray-700 text-base">
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
          <span class="inline-block bg-gray-200   rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
        </div>
      </div>


      <div>
          <ul id="latest-blog-list" class="flex flex-col xl:grid xl:grid-cols-2 gap-4 items-center w-full">

            <li class="bg-slate-900 max-w-sm md:max-w-7xl rounded-3xl overflow-hidden shadow-slate-500 shadow-sm">
            <div class="md:flex w-auto min-h-52">
                <!-- blog list thumbnail -->
                <div class="blog-thumbnail object-cover aspect-square"><img class="md:min-h-48 md:min-w-48 object-cover aspect-square" src="https://www.tripwire.com/sites/default/files/styles/circle_icon/public/2024-04/security-vs-compliance-whats-the-difference.jpg?itok=mDN2z5MS" alt="blog-thumbnail"></div>
                <!-- blog list title and description -->
                <div class="p-4">
                    <!-- blog title -->
                    <div class="blog-title text-md font-semibold"><a href="/blog/10003" class=" text-xl">Security vs. Compliance: What's the Difference?</a></div>
                    <!-- blog description (almost 20 words) -->
                    <div class="blog-description mt-1">Security and compliance – a phrase often uttered in the same breath as if they are two sides of the same coin, two members of the same team, or two great tastes that go great together.</div>
                </div>
            </div>
            </li>
        </ul>
      </div>
</body>
</html>