<section id="contact" class="h-screen bg-cover bg-center flex justify-center items-center" style="background-image: url('/images/contact-us-background.avif')">
    <div class="flex justify-center items-center md:w-2/3 lg:w-1/2 md:h-4/5 bg-white backdrop-blur-sm bg-opacity-15 sm:rounded-3xl text-black">
        <form class="m-8 md:m-16 grid lg:grid-cols-2 text-xl gap-8" action="/contact/thanks" method="post">
            <div>
                <input class="input" type="text" name="name" placeholder="Your Name" required>
            </div>
            <div>
                <input class="input" type="email" name="email" placeholder="Your Email" required>
            </div>
            <div> 
                <input class="input" type="tel" name="mobile" placeholder="Phone No.">
            </div>
            <div>
                <select class="input" name="subject">
                    <option value=0 disabled selected>Subject</option>
                    <option value=1>Corporate Training</option>
                    <option value=2>Commercial One Time Services</option>
                    <option value=3>Commercial Long Term Support</option>
                    <option value=4>Paid Security Training</option>
                    <option value=5>Cyber Hygiene Session</option>
                    <option value=6>Got Hacked!!! (Get response asap)</option>
                    <option value=7>Workshop</option>
                </select>
            </div>
            <div class="lg:col-span-2">
                <input class="input border border-black min-h-52" type="text" name="message" placeholder="Your Message" required>
            </div>
            <div class="lg:col-span-2 flex justify-center">
                <input type="submit" class="rounded-2xl text-center h-12 hover:cursor-pointer border border-black w-40 placeholder:text-black font-semibold hover:bg-black hover:text-white">
            </div>
        </form>
    </div>
    <script>
        contactOptionList = document.querySelectorAll('option');
        option = {optionId: JSON.parse('<%- JSON.stringify(optionId) %>')}
        contactOptionList.forEach((element) => {
            if( element.value ==  option.optionId ) {
                element.selected = "selected";
            }
        })
    </script>
</section>