<section id="workshop" class="p-8">
    <div class="flex justify-center text-5xl font-bold p-10">Workshop</div>
    <div class="my-6 md:grid md:grid-cols-2 md:gap-8">
        <div><img src="/images/cybersecurity-workshop.avif" alt="Cyber Security Workshop" width="100%" height="100%"></div>
        <div class="my-4">
            <div class="text-2xl font-bold">Overview</div>
            <div class="my-2">
                <p>At EYE Project, we offer a range of cybersecurity workshops designed to equip individuals and organizations with the knowledge and skills needed to defend against cyber threats. Whether you are a beginner looking to understand the basics of cybersecurity or an experienced professional seeking advanced training, our workshops provide comprehensive, hands-on learning experiences.</p>
            </div>
        </div>
        <div class="my-4 col-span-2 border p-2 md:p-8 rounded-2xl">
            <div class="text-2xl font-bold">Why Choose Our Workshops?</div>
            <div class="m-1 pl-6">
                <ul class="list-disc">
                    <li>Expert Instructors: Learn from industry experts with years of hands-on experience in cybersecurity.</li>
                    <li>Hands-On Training: Engage in practical exercises and simulations to apply your knowledge in real-world scenarios.</li>
                    <li>Up-to-Date Content: Stay ahead with the latest cybersecurity trends and techniques.</li>
                    <li>Networking Opportunities: Connect with like-minded professionals and expand your network in the cybersecurity community.</li>
                    <li>Certification: Earn a certificate of completion to showcase your skills and enhance your career prospects.</li>
                </ul>
            </div>
        </div>
        <div class="my-4">
            <div class="text-2xl font-bold">How to Register:</div>
            <div class="m-1 pl-6">
                <ul class="list-decimal">
                    <li>Visit our registration page [link to registration page].</li>
                    <li>Choose your desired workshop and fill out the registration form.</li>
                    <li>Complete the payment process to secure your spot.</li>
                </ul>
            </div>
        </div>
        <div class="my-4">
            <div class="text-2xl font-bold">Pricing:</div>
            <div class="m-1 pl-6">
                <ul class="list-disc">
                    <li>Introduction to Cybersecurity: $300</li>
                    <li>Ethical Hacking and Penetration Testing: $500</li>
                    <li>Advanced Threat Detection and Incident Response: $700</li>
                </ul>
            </div>
        </div>
        <div class="my-4 flex col-span-2 justify-center "><a class="border p-2 px-4 rounded-2xl hover:bg-slate-400 hover:text-black" href="/contact/7">Contact Us</a></div>
    </div>
</section>